*{
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
   overflow: inherit;
}

@import "./1200/header1200";
@import "./375/header375";
@import "./375/one-section375";
@import "./375/two-section375";
@import "./375/three-section375";
@import "./375/four-section375";
@import "./375/five-section375";
@import "./375/footer375";
